/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/

/*
  Base font settings and background color
*/
html {
  background-color: var(--clr-stone100);
  font-family: var(--fs-base);
  font-size: var(--font-paragraph);
  color: var(--clr-stone600);
}

/*
  Flex column styling 
*/
.column {
  display: flex;
  flex-direction: column;
  background-color: white;
}

/*
  Default flex row styling
*/
.default-row {
  width: auto;
  margin: 20px 40px;
}

/*
  Preparation row styling
*/
.preparation-row {
  background-color: var(--clr-rose50);
  border-radius: 15px;
  padding: 25px; /* extra inset for this section */
}

/*
  Image row styling
*/
.image-row {
  width: 100%;
}

/*
  General header styling
*/
h1, h2, h3 {
  margin-bottom: 10px;
}

/*
  Font settings for h1 and h2
*/
h1, h2 {
  font-family: var(--fs-accent);
  font-weight: var(--fw-regular);
}

/*
  Specific stylings for h1, h2, and h3
*/
h1 {
  font-size: 2.5em;
  color: var(--clr-stone900);
}

h2 {
  font-size: var(--font-sub-header);
  color: var(--clr-brown800);
}

h3 {
  font-size: 1.25em;
  font-weight: var(--fw-bold);
  color: var(--clr-rose800);
}

/*
  Horizontal rule styling
*/
hr {
  border: 1px solid var(--clr-stone150);
}

/*
  List padding
*/
ul, ol {
  padding-left: 24px;
}

/*
  List item padding
*/
li {
  padding-left: 20px;
}

/*
  Change list item marker color
*/
li::marker {
  color: var(--clr-rose800);
}

/*
  Table styling
*/
table {
  margin-top: 15px;
  width: 100%;
  border-collapse: collapse; /* facilitate bottom border for table row */
}

/*
  Bottom border for a table row
*/
tr {
  border-bottom: 1px solid var(--clr-stone150);
}

/*
  Table data padding
*/
td {
  padding: 25px;
}

/*
  Change font color and weight for table data of class value
*/
td.value {
  color: var(--clr-brown800);
  font-weight: var(--fw-bold);
}

/*
  For larger screen device
*/
@media only screen and (min-width: 768px) {
  /*
    Flex column should have a margin around it, use only 
    65% of screen width and have rounded corners
  */
  .column {
    max-width: 60%; 
    margin: 100px auto;
    border-radius: 30px; 
  }
  
  /*
    Image row should have paddings for its content.
  */
  .image-row {
    width: auto;
    padding: 40px 40px 0px 40px;
  }  

  /*
    Image should have rounded corners
  */
  img {
    border-radius: 15px;
  }
}

/*
  As the screen gets wider, the flex column should 
  take up less space
*/
@media only screen and (min-width: 992px) {
  .column {
    max-width: 55%;
  }
}

@media only screen and (min-width: 1200px) {
  .column {
    max-width: 50%;
  }
}

@media only screen and (min-width: 1440px) {
  .column {
    max-width: 45%;
  }
}

@media only screen and (min-width: 2630px) {
  .column {
    max-width:30%;
  }
}

/** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }